.button {
  @include button-base;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: $radius-main;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  box-shadow: rgba(83, 104, 223, 0.25) 0 0.3rem 0.6rem;
  background-color: $color-primary;
  color: #fff;
} 