.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
  text-align: center;
  margin-top: 80px;
  overflow-x: hidden;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $color-title;
  }

  &__description {
    font-size: 1rem;
    color: $color-description;
    margin-bottom: 1.5rem;
  }

  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  &__button--chrome {
    background-color: $color-primary;
    color: $color-white;
  }

  &__button--firefox {
    background-color: $color-light-gray;
    color: $color-text;
  }

  &__image {
    width: 100%;
  }

  &__image_container {
    position: relative;
    width: 100%;
    max-width: 768px;
  }

  &__blue {
    content: "";
    display: block;
    position: absolute;
    background-color: $color-primary;
    top: 20%;
    height: 80%;
    width: 80%;
    left: 30%;
    z-index: -1;
    border-bottom-left-radius: 5rem;
    max-width: inherit;
  }

  @include respond-to(tablet) {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding-left: 2rem;
    padding-right: 2rem;
    gap: 2rem;
    overflow-x: hidden;

    .hero__content {
      max-width: 500px;
      margin-left: 4rem;
    }
    .hero__title {
      font-size: 2rem;
    }
    .hero__description {
      font-size: 1.125rem;
      max-width: fit-content;
    }
    .hero__buttons {
      justify-content: flex-start;
    }
    .hero__image_container {
      max-width: 600px;
      position: relative;
      left: 30px;
    }
  }
} 